@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #0c1022;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: white; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg,#f06, #3cf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 500px;
    margin-left: -30px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before{
    background-image: 100% 0;
}

.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.btn:hover:after{
    background-position: 100% 0;
}

.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before{
    filter: blur(5px);

}

.home-sci a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::after{
    transform: scale(0);
}

.home-img{
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle span {
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: relative;
    display: infline-flex;
    justify-content: center;
    align-items: center;
    bottom: 25%;
    left: 52%;
    transform: translateX(-48%);
    max-width: 320px;
    object-fit: cover;
}

/* KEYFRAMES ANIMATION */
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes zoomIn{
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about me{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin-left: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text{
    width: 550px;
    margin-bottom: 0px;
}

.about-text h2{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 12px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size:22px;
    margin-bottom: 15px;
    text-transform: capitalize;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.about-text p{
    color:white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.about-img{
    position: relative;
    width: 410px;
    height: 410px;
    margin-bottom: -300px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
    display: infline-flex;
    justify-content: center;
    align-items: center;
    left: 2.5%;
    transform: translateX(-48%);
    max-width: -1000px;
    object-fit: cover;
}


.about-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    left: 200px;
    top: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.glowing-circle .image-about{
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image-about img {
    position: relative;
    display: infline-flex;
    justify-content: center;
    align-items: center;
    bottom: 25%;
    left: 52%;
    transform: translateX(-48%);
    max-width: 330px;
    object-fit: cover;
}

.heading-p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 120px;
    text-align: center;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.heading{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.header-action-aria h6{
    font-size: 16px;
    background: linear-gradient(45deg,#f06, #3cf);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.education-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.education{
    padding: 24px;
    border: 1px solid var(--color-white-variant);
    border-radius: 30px;
    border-style:outset;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0;
    animation: slideTop 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.3s, 1.1s;
}

.education img{
    border-radius:30px;
    margin-bottom: 1rem;
    width:280px;
}

.heading-p-experience{
    font-size: 18px;
    font-weight: 700;
    margin-top: 120px;
    text-align: center;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.heading-experience{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.header-action-aria a {
    top: 10px;
    height: 28px;
    width: 145px;
    font-size: 15px;
}

.experience-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.experience{
    padding: 24px;
    border: 1px solid var(--color-white-variant);
    border-radius: 30px;
    border-style:outset;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}


.heading-p-memories{
    font-size: 18px;
    font-weight: 700;
    margin-top: 120px;
    text-align: center;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.heading-memories{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.memories-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.memories{
    padding: 24px;
    border: 1px solid var(--color-white-variant);
    border-radius: 80px;
    border-style:outset;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.memories img{
    border-radius:30px;
    margin-bottom: 1rem;
    width:200px;
}

.heading-p-portfolio{
    font-size: 18px;
    font-weight: 700;
    margin-top: 80px;
    text-align: center;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.heading-portfolio{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

* {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: block}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      text-align: center; /* Ensures the content inside is centered*/
      opacity: 0;
      animation: slideTop 1s ease forwards;
      animation-delay: 1.3s;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      background: linear-gradient(45deg,#f06, #3cf);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-weight: bold;
      font-size: 30px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    } 

    /* Position the "prev button" to the right */
    .prev {
        margin-right:40px;
        left: 220px;
        border-radius: 3px 0 0 3px;
        opacity: 0;
        animation: slideRight 1s ease forwards;
        animation-delay: 1s;
    }
    
    /* Position the "next button" to the left */
    .next {
      margin-left:230px;
      border-radius: 3px 0 0 3px;
      opacity: 0;
      animation: slideLeft 1s ease forwards;
      animation-delay: 1s;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      background: linear-gradient(45deg,#f06, #3cf);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 18px;
      font-weight: bold;
      padding: 8px 12px;
      position: absolute;
      bottom: -50px;
      width: 100%;
      text-align: center;
      opacity: 0;
      animation: slideTop 1s ease forwards;
      animation-delay: 1.3s;
    }
    
    /* Number text (1/4 etc) */
    .numbertext {
      background: linear-gradient(45deg,#f06, #3cf);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 12px;
      font-weight: bold;
      padding: 8px 12px;
      position: absolute;
      justify-content: left;
      top: 5%;
      left: 70%;
      transform: translate(-50%, -50%); /* Center the text */
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white; 
    padding: 20px;
}

.heading-contact{
    font-size: 32px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    border-radius: 80px;
    outline: none;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

#msg{
    width: 30%;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

#send{
    width: 10%;
    font-size: 16px;
    background: linear-gradient(45deg,#f06, #3cf);
    font-weight:800;
    padding: 10px;
    margin: 40px;
    border: none;
    border-radius: 80px;
    outline: none;
    opacity: 0;
    animation: slideTop 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.5s, 1.1s;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

